<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
      <% include partials/header %>
      <%- body %>
      <% include partials/footer %>
      <% include partials/modals %>
      <script src="bundle.js" charset="utf-8"></script>
    </body>
</html>
